{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <main>
        <h2>Index</h2>
        <article>
            <h2>Présentation de CarExp</h2>
            <br>
            <p>
                Bienvenue sur CarExp, votre destination ultime pour la location et l'achat de voitures.
                Avec une vaste gamme de véhicules de qualité, des SUV robustes aux citadines élégantes, CarExp offre une expérience unique pour répondre à tous vos besoins en matière de déplacement.
                Explorez notre collection diversifiée, réservez votre voiture préférée en quelques clics et embarquez pour l'aventure.
                Que ce soit pour une escapade de week-end ou pour faire de votre prochain achat automobile une réalité, CarExp vous accompagne à chaque étape.
                Rejoignez-nous dès maintenant et découvrez une nouvelle façon de conduire, où la qualité, la fiabilité et la simplicité sont au cœur de notre engagement envers vous.
            </p>
        </article>

        <article>
            <h2>Présentation du projet</h2>
            <br>
            <p>
                CarExp est un projet réalisé avec Symfony et VueJS afin de vous offrir un site capable de faire de l'achat/revente et location de véhicule.
                À partir d'une simple localisation, vous pouvez trouver le véhicule qui vous correspond le mieux.
                Via notre interface complète, visualisez vos locations et achats/reventes en cours, et même passés.
                Notre site vous permet bien évidemment de créer un compte et de vous y connecter, ainsi que de personnaliser votre profil.
            </p>
        </article>

        <article>
            <h2>Nous</h2>
            <br>
            <p>Jules BOSSIS--GUYON - Licence Informatique - La Rochelle Université</p>
            <br>
            <p class="carte"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1014.1726289502236!2d-1.1566951034248916!3d46.1468811513862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480153bf1e436d0b%3A0x6327e4bf2514e23e!2sLaboratoire%20Informatique%2C%20Image%20et%20Interaction%20(L3i)!5e0!3m2!1sfr!2sfr!4v1711827630074!5m2!1sfr!2sfr" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </article>
    </main>
{% endblock %}
